version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

   # Maintain Docker image dependencies
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"